<div class="card p-3">
  <h5>Realizar Depósito</h5>

  <div class="mb-3">
    <label for="valor" class="form-label">Valor</label>
    <input type="number" id="valor" class="form-control" [(ngModel)]="deposito.saldo" />

    <label for="cpfOuCnpj" class="form-label">CPF ou CNPJ</label>
    <input type="text" id="cpfOuCnpj" class="form-control" [(ngModel)]="deposito.cpf" />
  </div>

  <button class="btn btn-success me-2" (click)="confirmarDeposito()">Confirmar Depósito</button>
  <button class="btn btn-secondary me-2" (click)="fechar()">Fechar</button>
</div>
