<nav>
   <h5>Nova carteira de investimento</h5>
</nav>
<form (ngSubmit)="onNewInvestimento()">
<div class="card p-3">
   <div class="mb-3">
  <label for="descricao" class="form-label">Detalhe do tipo de investimento</label>
  <input
    type="text"
    id="descricao"
    class="form-control"
    [(ngModel)]="categoria.descricao"
    name="descricao"
    required
    #descricao="ngModel"
  />

  <!-- Mensagem de erro -->
  <div *ngIf="descricao.invalid && descricao.touched" class="text-danger mt-1">
    Este campo é obrigatório.
  </div>
</div>

<div class="mb-3">
  <label for="percentualAdicional" class="form-label"> Percentual sobre o IPCA (para investimentos com correção IPCA)</label>
  <input
    type="number"
    id="percentualAdicional"
    class="form-control"
    [(ngModel)]="categoria.percentualAdicional"
    name="percentualAdicional"
    required
    #percentualAdicional="ngModel"
  />

  <!-- Mensagem de erro -->
  <div *ngIf="percentualAdicional.invalid && percentualAdicional.touched" class="text-danger mt-1">
    Este campo é obrigatório.
  </div>
</div>

<div class="mb-3">
  <label for="percentualIndexador" class="form-label">Percentual do investimento</label>
  <input
    type="number"
    id="percentualIndexador"
    class="form-control"
    [(ngModel)]="categoria.percentualIndexador"
    name="percentualIndexador"
    required
    #percentualIndexador="ngModel"
  />

  <!-- Mensagem de erro -->
  <div *ngIf="percentualIndexador.invalid && percentualIndexador.touched" class="text-danger mt-1">
    Este campo é obrigatório.
  </div>
</div>

<div class="mb-3">
  <label for="carencia" class="form-label">Carência</label>
  <select
    id="carencia"
    class="form-control"
    [(ngModel)]="categoria.carencia"
    name="carencia"
    required
    #carencia="ngModel"
  >
    <option value="" disabled>Selecione a carência</option>
    <option value="QUALQUER_INSTANTE">Qualquer instante</option>
    <option value="DIAS_30">30 dias</option>
    <option value="DIAS_60">60 dias</option>
    <option value="DIAS_90">90 dias</option>
    <option value="DIAS_180">180 dias</option>
    <option value="ANUAL">Anual</option>
    <option value="VENCIMENTO">Vencimento</option>
  </select>

  <!-- Mensagem de erro -->
  <div *ngIf="carencia.invalid && carencia.touched" class="text-danger mt-1">
    Este campo é obrigatório.
  </div>
</div>


<div class="mb-3">
  <label for="indexador" class="form-label">Tipo de investimento</label>
  <select
    id="indexador"
    class="form-control"
    [(ngModel)]="categoria.indexador"
    name="indexador"
    required
    #indexador="ngModel"
  >
    <option value="" disabled>Selecione a tipo de correção para o investimento</option>
    <option value="CDI">CDI</option>
    <option value="SELIC">SELIC</option>
    <option value="IPCA">IPCA</option>
    <option value="PRE_FIXADO">PRE_FIXADO</option>
  </select>

  <!-- Mensagem de erro -->
  <div *ngIf="indexador.invalid && indexador.touched" class="text-danger mt-1">
    Este campo é obrigatório.
  </div>
</div>

<div class="mb-3">
  <label for="tipo" class="form-label">Tipo de investimento</label>
  <select
    id="tipo"
    class="form-control"
    [(ngModel)]="categoria.tipo"
    name="tipo"
    required
    #tipo="ngModel"
  >
    <option value="" disabled>Selecione a tipo de investimento</option>
    <option value="CDB">CDB</option>
    <option value="LCI">LCI</option>
    <option value="LCA">LCA</option>
    <option value="DEBENTURE">DEBENTURE</option>
  </select>

  <!-- Mensagem de erro -->
  <div *ngIf="tipo.invalid && tipo.touched" class="text-danger mt-1">
    Este campo é obrigatório.
  </div>
</div>

<div class="mb-3">
  <label for="tipoRendimento" class="form-label">Tipo de rendimento</label>
  <select
    id="tipoRendimento"
    class="form-control"
    [(ngModel)]="categoria.tipoRendimento"
    name="tipoRendimento"
    required
    #tipoRendimento="ngModel"
  >
    <option value="" disabled>Selecione a tipo de rendimento</option>
    <option value="PREFIXADO">PREFIXADO</option>
    <option value="POSFIXADO">POSFIXADO</option>
    <option value="HIBRIDO">HIBRIDO</option>
   
  </select>

  <!-- Mensagem de erro -->
  <div *ngIf="tipoRendimento.invalid && tipoRendimento.touched" class="text-danger mt-1">
    Este campo é obrigatório.
  </div>
</div>

<div class="mb-3">
  <label for="risco" class="form-label">Risco do investimento</label>
  <select
    id="risco"
    class="form-control"
    [(ngModel)]="categoria.risco"
    name="risco"
    required
    #risco="ngModel"
  >
    <option value="" disabled>Selecione risco para este investimento</option>
    <option value="RISCO_BAIXO">RISCO_BAIXO</option>
    <option value="RISCO_MEDIO">RISCO_MEDIO</option>
    <option value="RISCO_ALTO">RISCO_ALTO</option>
   
  </select>

  <!-- Mensagem de erro -->
  <div *ngIf="risco.invalid && risco.touched" class="text-danger mt-1">
    Este campo é obrigatório.
  </div>
</div>

<div class="mb-3">
  <label for="resgatavelAntecipadamente" class="form-label">
    Resgatável antecipadamente
  </label>
  <select
    id="resgatavelAntecipadamente"
    class="form-control"
    [(ngModel)]="categoria.resgatavelAntecipadamente"
    name="resgatavelAntecipadamente"
    required
    #resgatavelAntecipadamente="ngModel"
  >
    <option [ngValue]="true">Sim</option>
    <option [ngValue]="false">Não</option>
  </select>

  <!-- Mensagem de erro -->
  <div *ngIf="resgatavelAntecipadamente.invalid && resgatavelAntecipadamente.touched" class="text-danger mt-1">
    Este campo é obrigatório.
  </div>
</div>


  <button class="btn btn-success me-2" type="submit">Confirmar</button>

  <button class="btn btn-secondary me-2" >Fechar</button>
</div>


</form>