<header>
    <h2> WeFit test tecnico!</h2> 
  </header>
  
  <div class="parent">
    <div class="wrapper">
      <form (ngSubmit)="login(loginForm)" #loginForm="ngForm">
        <h3>Login</h3>
  
        <div class="input-box">
          <input type="text" name="email" [(ngModel)]="creds.email" placeholder="Email" required>
          <i class='bx bxs-user'></i>
        </div>
  
        <div class="input-box">
          <i class="bx" [ngClass]="showPassword ? 'bxs-show' : 'bxs-hide'" 
             (click)="togglePasswordVisibility()" 
             style="cursor: pointer; position: absolute; right: 10px; top: 50%; transform: translateY(-50%);"></i>
          <input [type]="showPassword ? 'text' : 'password'" name="password" [(ngModel)]="creds.password" placeholder="Senha" required>
          <i class='bx bxs-lock-alt'></i>
        </div>
  
        <div class="remember-forgot">
          <!-- Adicione opções como "Lembrar-me" e "Esqueceu a senha" aqui, se necessário -->
        </div>
  
        <button type="submit" class="btn" (click)="login()">Login</button>
      </form>
    </div>
  </div>
  
  <footer>
    <div class="footer-content">
      <p>Contato: Fernando, Cel.: <a href="tel:+5511977712030">(11) 97771-2030</a></p>
    </div>
    <div>Versão: 2025-03-31-001</div>
  </footer>
  