<!-- Vídeo ao vivo da câmera -->
<video #video autoplay playsinline *ngIf="!capturedImage" class="w-100 rounded shadow"></video>

<!-- Imagem capturada -->
<img *ngIf="capturedImage" [src]="capturedImage" alt="Imagem capturada" class="img-thumbnail mt-2" />

<!-- Canvas oculto para capturar a imagem da câmera -->
<canvas #canvas style="display: none;"></canvas>

<!-- Botões de controle -->
<div class="mt-3 d-flex flex-wrap gap-2">
  <button *ngIf="!capturedImage" (click)="capture()" class=" btn-primary">📸 Capturar</button>
  <button *ngIf="capturedImage" (click)="confirm()" class=" btn-success">✅ Confirmar</button>
  <button *ngIf="capturedImage" (click)="retake()" class=" btn-warning">🔁 Refazer</button>
  <button (click)="stopCamera()" class="btn btn-danger">⛔ Finalizar Câmera</button>
</div>
