.header-title {
  color: var(--primary);
  font-weight: 600;
  margin-bottom: 2rem;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-secondary);
    margin: 0;
  }
}

/* Container e Card */
.container {
  padding-top: 2rem;
  font-family: 'Poppins', sans-serif;

  .card {
    border-radius: 1rem;
    background-color: var(--background);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
    padding: 2rem;

    .mb-2 {
      font-size: 1rem;
      padding: 0.25rem 0;
      display: flex;
      align-items: center;

      strong {
        display: inline-block;
        min-width: 160px;
        color: var(--primary);
        font-weight: 500;
      }

      span {
        font-weight: 500;
      }
    }

    h5 {
      margin-top: 1.5rem;
      color: var(--primary);
      font-weight: 600;
      display: flex;
      align-items: center;

      i {
        cursor: pointer;
        margin-left: 0.5rem;
        font-size: 1.3rem;
        transition: color 0.3s ease;

        &:hover {
          color: var(--primary-light);
        }
      }
    }

    hr {
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      border-top: 1px solid var(--border-color);
    }

    /* Tabela */
    table {
      margin-top: 0.5rem;
      border: 1px solid var(--border-color);
      border-radius: 0.5rem;
      overflow: hidden;
      width: 98%;
      table-layout: auto;

      thead {
        background-color: var(--primary);
        color: white;

        th {
          font-weight: 500;
          white-space: nowrap;
        }
      }

      th,
      td {
        padding: 0.75rem;
        border: 1px solid var(--border-color);
        white-space: nowrap;
      }

      td.text-success {
        color: var(--secondary);
        font-weight: 500;
      }

      td.text-danger {
        color: var(--danger);
        font-weight: 500;
      }
    }
  }

  /* Responsividade da tabela */
  @media (max-width: 1024px) {
    .card table {
      width: 95%;
    }
  }

  @media (max-width: 768px) {
    .card {
      overflow-x: auto;
    }
    .card table {
      width: 70%;
      min-width: 200px; /* garante que não deforme demais */
    }
  }

  @media (max-width: 480px) {
    .card table {
      width: 90%;
       min-width: 300px; /* força scroll no mobile */
        font-size: 0.51rem; 
    }
  }
}

.selfie-img {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%; 
}

/* Somente para mobile */
@media (max-width: 768px) {
  .selfie-img {
    position: static;       /* tira o posicionamento absoluto */
    display: block;         /* garante que seja um bloco */
    margin: 0 auto 1rem;    /* centraliza horizontalmente */
  }
}

.custom-check {
  padding: 10px;
  border-radius: 5px;
   width: 50%;
}

.custom-check .form-check-input {
  border-color: var(--primary)
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5); /* Fundo preto com transparência */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; /* Bem na frente */
}

.modal-content {
  background: var(--background);
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  position: relative;
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
  .modal-content {
    max-width: 95%;     /* mais largo no mobile */
    padding: 1.5rem;    /* reduz um pouco o padding */
  }
}

@media (max-width: 480px) {
  .modal-content {
    max-width: 98%;     /* ocupa quase toda a largura */
    padding: 1rem;      /* padding menor para não cortar conteúdo */
    border-radius: 6px; /* borda levemente menor */
  }
}

.btn-custom-primary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--background); /* para garantir o texto visível */
  transition: background-color 0.3s ease;
}

.btn-custom-primary:hover {
  background-color: (var(--primary), 10%); /* se usar SCSS, ou uma cor um pouco mais escura */
  border-color: (var(--primary), 10%);
  color:var(--background)
} 

.btn-custom-dep {
  background-color: var(--primary);
  color: var(--background); /* texto visível */
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 0.5rem 1rem; /* espaçamento interno */
  border-radius: 9px;
  border: none;
  width: auto;/* ajusta automaticamente ao texto */
  display: inline-block;
}

.btn-custom-dep:hover {
  background-color: var(--secondary); /* tom mais escuro que var(--primary) */
  color: var(--background);
}


/* Fundo azul na lista */
.nav-intem .dropdown-menu {
  background-color: var(--primary) !important;
  border: none;
}

/* Links da lista */
.nav-intem .dropdown-item {
  color: var(--background) !important;
}

/* Hover nos links */
.nav-intem .dropdown-item:hover {
  background-color: var(--background) !important; /* cor secundária */
  color: var(--primary) !important;
}


.extrato-flutuante {
  position: fixed; /* ou absolute se for relativo ao container */
  top: 20%; /* ajusta conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  z-index: 9999; /* garante que fica na frente */
}



.dados-flutuante {
  position: fixed; /* ou absolute se for relativo ao container */
  top: 20%; /* ajusta conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  z-index: 9999; /* garante que fica na frente */
}

footer {
  font-size: 0.9rem;
  border-top: 2px solid var(--primary); /* sua cor padrão */
  background-color: var(--primary);
  color: var(--background);
  border-radius: 9px;
}

footer i {
  color: var(--secondary); /* Azul Bootstrap */
}