<div class="wrapper">
    <div >
        <!-- Logotipo -->
        <h1>Banco Digital Pro</h1>
            
        <!-- Slogan -->
        <h2 class="mb-3">Seu dinheiro mais seguro e acessível.</h2>
        <p class="lead text-muted mb-4">Abra sua conta gratuita e tenha o controle total da sua vida financeira.</p>
      
        <!-- Botões -->
        <div class="d-flex justify-content-center gap-3 mb-3">
          <a (click)="login()" class="btn-primary">Acessar minha conta</a>
          <a (click)="cadastro()"  class="btn-outline-primary ">Abra sua conta</a>
        </div>
      
        <!-- Imagem ilustrativa -->
         </div>
      
      <footer class="text-center text-muted mt-5">
        <small>&copy; 2025 Banco Digital Pro – Todos os direitos reservados.</small>
      </footer>
      
</div>