:host {
  display: block;
  font-family: var(--font-family-base);
  background: linear-gradient(to bottom right, var(--color-primary), var(--color-secondary));
  padding: 2rem;
  color: var(--color-text);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
}

h1 {
  font-weight: 600;
  color: var(--primary);
}

h2 {
  font-weight: 400;
  font-size: var(--font-size-md);
  margin-bottom: 0.5rem;
  color: var(--primary);
}

.lead {
  font-size: var(--font-size-sm);
  color: var(--color-light);
}

.btn-primary {
  background-color: var(--primary);
  border: 1px solid var(--color-primary);
  color: var(--background);
  border-radius: 9px;
  margin-right: 5px;
  padding: 0.5rem 1rem;
  font-size: var(--font-size-base);
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--card-header-bg);
  color: var(--primary);
  border-color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 9px;
}

.btn-outline-primary {
  background: transparent;
  background-color: var(--secondary);
  color: var(--background);
  border-radius: 9px;
  padding: 0.5rem 1rem;
  font-size: var(--font-size-base);
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-outline-primary:hover {
  background-color: var(--color-light);
  border: 2px solid var(--secondary);
  color: var(--secondary);
}

@media (max-width: 768px) {
  .btn-primary,
  .btn-outline-primary {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
    margin-right: 3px;
  }
}

@media (max-width: 576px) {
  .btn-primary,
  .btn-outline-primary {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

footer {
  margin-top: 4rem;
  font-size: 0.85rem;
  color: var(--color-text);
}
